<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="movie-items">
            <img src="{{movie.Poster}}" class="maxwidth" />
            <h2 class="movietitle">{{movie.Title}}</h2>
            <h2 class="movietitle">{{movie.type}}</h2>
        </div>
        
      </div>
      
    </div>
  </div>